{%extends 'accounts/main.html'%}
{%block content%}
		<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
								<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				<input type="submit" name="Submit">
			</form>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>
						{% for i in products%}
						<tr>
							<td>{{i.name}}</td>
							<td>{{i.category}}</td>
							<td>{{i.price}}</td>

						</tr>
						{%endfor%}

					</table>
				</div>
			</div>

		</div>
{%endblock%}